In [27]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [28]:
dframe=DataFrame(np.arange(12).reshape(3,4),index=['NY','LA','SF'],columns=['A','B','C','D'])

In [29]:
dframe

    A  B   C   D
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [30]:
#change the index to lower case
dframe.index.map(str.lower)

array(['ny', 'la', 'sf'], dtype=object)

In [31]:
dframe.index=dframe.index.map(str.lower)

In [32]:
dframe

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [33]:
dframe.rename(index=str.title,columns=str.lower)

    a  b   c   d
Ny  0  1   2   3
La  4  5   6   7
Sf  8  9  10  11

In [34]:
dframe.rename(index={'ny':'NEW YORK'},columns={'A':'ALPHA'})

          ALPHA  B   C   D
NEW YORK      0  1   2   3
la            4  5   6   7
sf            8  9  10  11

In [38]:
dframe

          ALPHA  B   C   D
NEW YORK      0  1   2   3
la            4  5   6   7
sf            8  9  10  11

In [36]:
dframe.rename(index={'ny':'NEW YORK'},columns={'A':'ALPHA'},inplace=True)

In [37]:
dframe

          ALPHA  B   C   D
NEW YORK      0  1   2   3
la            4  5   6   7
sf            8  9  10  11